/**
* Basic-Portfolio style.css
**/

* {
    box-sizing: border-box;
  }

body {
    position: fixed;
    top: 0;
    left: calc(50% - 480px);
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("../images/circles-light.png");
}

/* header {
    width: 100%;
    height: 81px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 0;
    margin: 0;
} */

.topcontainer {  
 /*   width: 960px; */
    position: fixed;
    top: 0;
/*  left: 20%; */
    left: calc(50% - 480px);
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #333;
    border-bottom: 2px solid #cccccc;
    padding: 0;
    margin: 0;
  }

#left {
    float: left;
    position: relative;
    width: 320px;
    margin: 0 0 0 0;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    text-align: center;
}

#middle {
    float: left;
    position: relative;
    width: 320px;
/*    display: none */
}

#right {
    float: right;
    position: relative;
    width: 320px;
}

#navbar_row {
    clear: both;
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
}

#about {
    float: left;
    padding: 0 10px;
}

#portfolio {
    float: left;
    padding: 0 10px;
}

#contact {
    float: left;
    padding: 0 10px;
}

#container {
    width: 960px;
    position: relative;
    top: 70px;
/*  left: 19% */
    left: calc(50% - 480px);
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    line-height: 150%;
 /*   padding: 20px 10px 20px 10px; */
    padding: 0;
 /*   margin: 10px; */
    z-index: -1;
}

#About-Me {
    top: 20px;
    width: 960px;
 /*   left: -10px; */
    left: calc(50% - 480px);
    position: relative;
    float: left;
    background-color: #ffffff;
}

#form {
    width: 960px;
    position: relative;
    top: 70px;
 /*   left: 19%; */
    left: calc(50% - 480px);
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    line-height: 150%;
 /*   padding: 20px 10px 20px 10px; */
    padding: 0;
 /*   margin: 10px; */
}

h2 {
    position: relative;
    margin: 0;;
 /*   top: -10px; */
    padding: 20px;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
    padding: 10px;
}

#profile-picture {
    float: left;
    padding: 10 px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 5px;
    background-color: #666666;
    color: #4aaaa5;
    border-top: 8px solid #4aaaa5
}

img {
    padding: 10px 50px 10px 30px;
    margin: 0 50px 10px 30px;
    background-color: #ffffff;
}

#Contact-Form {
    /*   top: 15px; */
       top: 20px;
       width: 960px;
    /*   left: -10px; */
       left: calc(50% - 480px);
       position: relative;
       float: left;
       background-color: #ffffff;
   }

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

#name {
    width: 100%;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

#mail {
    width: 100%;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

#msg {
    width: 100%;
    height: 250px;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#Portfolio-Page {
 /*   top: 15px; */
    top: 20px;
    width: 960px;
 /*   left: -10px; */
    left: calc(50% - 480px);
    position: relative;
    float: left;
    background-color: #ffffff;
}

.image1 {
    position: relative;
    float: left;
}

.image2 {
    position: relative;
    float: left;
}

.image3 {
    position: relative;
    float: left;
}

.image4 {
    position: relative;
    float: left;
}

.image5 {
    position: relative;
    float: left;
}

 h4 { 
  position: absolute; 
  bottom: 80px;
  right: 100px;
  background-color: #4aaaa5;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
 }